.arrowUp {
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  z-index: 1000;
  font-size: 3rem;
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 100%;
  text-align: center;
  background-color: #050a13;
  box-shadow: 0 3px 10px #03e8f9;
  transition: opacity 300ms ease-in;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .arrowUp {
    font-size: 2rem;
    width: 3rem;
    height: 3rem;
    bottom: 1.5rem;
    right: 1.5rem;
  }
}

