.section {
  position: relative;
  background-color: #1b1e26;
  color: #ffffff;
  padding: 4rem 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
  text-align: center;
}

.title {
  font-size: 2.5rem;
  margin: 1rem 0;
}

.subtitle {
  font-size: 1.5rem;
  margin: 0.5rem 0;
}

.skillsGrid {
  display: grid;
  grid-template-columns: 1fr;
  margin: 2rem 3rem;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
}

@media (min-width: 768px) {
  .skillsGrid {
    grid-template-columns: 6fr 4fr;
  }
}

.frontend {
  grid-row: span 2;
  padding: 1rem;
  background-color: #050a13;
}

.design {
  padding: 1rem;
}

.plan {
  padding: 1rem;
  background-color: #050a13;
  filter: brightness(150%);
  font-weight: 300;
}

.skillTitle {
  color: #03e8f9;
  margin: 1rem 0;
  font-size: 1.2rem;
}

.bar {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 0.5rem;
}

.barMetadata {
  display: flex;
  justify-content: space-between;
}

.barBg {
  width: 100%;
  height: 3px;
  background-color: #1b1e26;
}

.barValue {
  height: 3px;
  background-color: #03e8f9;
  transition: all 500ms ease;
}

.toolList {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

