.section {
  position: relative;
  background-color: #050a13;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' %3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='0' y2='1' gradientTransform='rotate(267,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%23050A13'/%3E%3Cstop offset='1' stop-color='%231B1E26'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cpattern id='b' width='14' height='14' patternUnits='userSpaceOnUse'%3E%3Ccircle fill='%23013A3F' cx='7' cy='7' r='7'/%3E%3C/pattern%3E%3Crect width='100%25' height='100%25' fill='url(%23a)'/%3E%3Crect width='100%25' height='100%25' fill='url(%23b)' fill-opacity='0.09'/%3E%3C/svg%3E");
  color: #ffffff;
  padding: 5rem 0;
  padding-top: 7rem;
  text-align: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.avatar {
  width: 250px;
  height: 250px;
  object-fit: cover;
  object-position: top;
  border-radius: 100%;
  border: 3px solid #03e8f9;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 3rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titleStrong {
  color: #03e8f9;
  margin-bottom: 0.5rem;
}

.description {
  font-size: 1.25rem;
}

.contact {
  display: inline-block;
  background-color: #03e8f9;
  margin: 2rem 0;
  padding: 0.5rem 1rem;
  font-weight: bold;
  color: #050a13;
  border-radius: 4px;
  transition: all 250ms ease-in;
}

.contact:hover {
  background-color: transparent;
  color: #ffffff;
  outline: 2px solid #03e8f9;
}

