.section {
  padding: 4rem 0;
  text-align: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.title {
  font-size: 3rem;
  margin-bottom: 3rem;
}

.description {
  font-size: 1.5rem;
  margin: 0.5rem 0;
}

.majors {
  display: flex;
  gap: 1rem;
  margin: 2.5rem 0;
  flex-direction: column;
}

@media (min-width: 768px) {
  .majors {
    flex-direction: row;
  }
}

.major {
  flex: 1;
  background-color: #1b1e26;
  padding: 2rem 1rem;
  color: #ffffff;
  border-radius: 1rem;
  cursor: default;
  box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.38);
  transition: all 300ms ease;
}

.major:hover .majorIcon {
  transform: rotate(-15deg) scale(1.2);
}

.majorIcon {
  font-size: 4rem;
  margin: 1rem 0;
  color: #03e8f9;
  transition: all 300ms ease;
}

.majorTitle {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.jobs {
  text-align: left;
}

.job {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.jobLogo {
  width: 70px;
  height: 70px;
  object-fit: cover;
}

.jobName {
  color: #ffffff;
}

.jobPeriod {
  color: #ffffff;
  font-size: 0.875rem;
}
