.section {
  background-color: #050a13;
  color: #ffffff;
  padding: 4rem 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
  text-align: center;
}

.title {
  font-size: 2.5rem;
  margin: 1rem 0;
}

.subtitle {
  font-size: 1.5rem;
  margin: 0.5rem 0;
}

.categories {
  display: flex;
  justify-content: center;
  margin: 2.5rem 0;
  gap: 1rem;
  flex-direction: column;
}

@media (min-width: 768px) {
  .categories {
    flex-direction: row;
  }
}

.category {
  position: relative;
  color: #ffffff;
  font-size: 1.1rem;
  padding: 0.5rem 3rem;
  border-radius: 4px;
  border: 1px solid #03e8f9;
  cursor: pointer;
  white-space: nowrap;
  background: transparent;
  transition: all 250ms ease-in;
}

.category.selected {
  background-color: #03e8f9;
  color: #050a13;
}

.count {
  opacity: 0;
  position: absolute;
  top: -20px;
  right: 16px;
  width: 28px;
  height: 28px;
  line-height: 28px;
  border-radius: 100%;
  background-color: #fd6413;
  color: #ffffff;
  transition: all 250ms ease-in;
}

.category.selected .count,
.category:hover .count {
  opacity: 1;
  top: 0;
}

.projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  transition: all 250ms ease-out;
}

@media (min-width: 768px) {
  .projects {
    grid-template-columns: repeat(4, 1fr);
  }
}

.projects.animating {
  opacity: 0;
  transform: scale(0.96) translateY(20px);
}

.project {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
}

.projectLink {
  display: block;
}

.projectImg {
  width: 300px;
  height: 200px;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  object-position: center;
}

.metadata {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 250ms ease-in;
  transform: translateY(-10px);
}

.project:hover .metadata {
  opacity: 0.8;
  transform: translateY(0px);
}

.projectTitle {
  color: white;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.projectTitle::after {
  content: '';
  display: block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin: 0.5rem 0;
  width: 50px;
  height: 2px;
  background-color: #03e8f9;
}

